<center>
	<div class="jumbotron">
	  <h1>Welcome To Postil!</h1>
	  <p>Your media spot!</p>
	  <p>
	    <%= link_to "About Us", home_about_path, class: "btn btn-default btn-lg" %>
	    </p>
	</div>
</center>