<center>
	<h1 class="font">Edit Item</h1>
	<br/>

	<div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <%= render 'form' %>
	  </div>
	</div>

	<br/><br/>


	<% link_to 'Show', @list %> 
	<%= link_to 'Back', lists_path, class: "btn btn-outline-secondary" %>
</center>